aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
chardet==3.0.4
idna==2.9
mecab-python3==0.996.5
multidict==4.7.5
portalocker==1.6.0
PyYAML==5.3.1
sacrebleu==1.4.6
typing==3.7.4.1
yarl==1.4.2
aiohttp-swagger==1.0.14
